
@model IEnumerable<part3.Models.Component>

@{
    var computer = ViewBag.Computer as part3.Models.Computer;
}

<h2>Customize @computer.Name</h2>

<div>
    <h3>Components</h3>
    <form asp-action="Summary" method="post">
        <input type="hidden" name="ComputerId" value="@computer.Id" />

        @foreach (var componentGroup in Model.GroupBy(c => c.Type))
        {
            <h4>@componentGroup.Key</h4>
            <ul>
                @foreach (var component in componentGroup)
                {
                    <li>
                        <input type="radio" name="Components[@componentGroup.Key]" value="@component.Id" />
                        @component.Name - @component.Price
                    </li>
                }
            </ul>
        }

        <button type="submit">Add to Cart</button>
    </form>
</div>
