@model part3.Models.Order

<div class="order">
    <h3>Order @Model.Id</h3>
    <p>Computer: @Model.Computer.Name</p>
    <p>Total Price: @Model.TotalPrice</p>
    <p>Order Date: @Model.OrderDate.ToShortDateString()</p>

    <h4>Components:</h4>
    <ul>
        @foreach (var orderComponent in Model.OrderComponents)
        {
            <li>@orderComponent.Component.Name</li>
        }
    </ul>
</div>
